@using Univercity.Data.Models
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Courses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CourseId</th>
                <th>CourseName</th>
                <th>CourseDescription</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.CourseName</td>
                    <td>@course.CourseDescription</td>
                    <td>
                        <a class="btn btn-info" asp-area="" asp-route-Id=@course.Id asp-controller="Groups" asp-action="Groups">Show Groups</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>